<div class="container clients-master-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="flex-grow-1 text-center">Clients Master</h4>
    <button mat-raised-button color="primary" (click)="openAddClientForm()">+ Add Client</button>
  </div>
  
  <mat-form-field appearance="fill" class="mb-3 w-100">
    <mat-label>Search clients</mat-label>
    <input matInput 
           type="text" 
           [(ngModel)]="searchQuery" 
           (ngModelChange)="dataSource.filter = $event.trim().toLowerCase()" />
    <button mat-icon-button *ngIf="searchQuery" (click)="searchQuery = ''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table-header">Name</th>
      <td mat-cell *matCellDef="let client">{{ client.cl_name }}</td>
    </ng-container>

    <ng-container matColumnDef="primaryContact">
      <th mat-header-cell *matHeaderCellDef class="table-header">Primary Contact</th>
      <td mat-cell *matCellDef="let client">
        <ng-container *ngIf="client.contacts && client.contacts.length > 0; else noContact">
          {{ client.contacts[0].co_name }}
        </ng-container>
        <ng-template #noContact>No Contact</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="table-header">Email</th>
      <td mat-cell *matCellDef="let client">{{ client.cl_email }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef class="table-header">Phone Number</th>
      <td mat-cell *matCellDef="let client">{{ client.cl_phno }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef class="table-header">Location</th>
      <td mat-cell *matCellDef="let client">{{ client.cl_addr || 'N/A' }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="table-header">Action</th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button color="info" (click)="openViewClientForm(client)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openEditClientForm(client)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteClient(client)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="['name', 'primaryContact', 'email', 'phoneNumber', 'location', 'action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'primaryContact', 'email', 'phoneNumber', 'location', 'action'];"></tr>
  </table>
</div>
