<div class="chatbot">
  <!-- Chatbot Header -->
  <mat-toolbar color="primary" class="chatbot-header">
    <div class="d-flex align-items-center">
      <img src="assets/chatbot.jpeg" alt="Chatbot Icon" class="chatbot-icon" />
      <span class="chatbot-title ml-2">AI Assistant</span>
    </div>
    <button mat-icon-button (click)="closeChatbot()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Chatbot Body -->
  <div class="chatbot-body">
    <div class="message-container">
      <!-- Render each message -->
      <div *ngFor="let message of messages; let i = index" class="message-wrapper">
        <div [ngClass]="{
              'user-message': message.sender === 'user',
              'bot-message': message.sender === 'bot'
            }">
          <div [innerHTML]="message.text"></div> <!-- Use innerHTML to render HTML -->
        </div>
      </div>

      <!-- Show loading skeleton while waiting for response -->
      <div *ngIf="isLoading">
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>

  <!-- Chat Prompt Container -->
  <mat-card class="chat-prompt-container">
    <div class="d-flex align-items-center">
      <div class="input-group">
        <input 
          matInput 
          [formControl]="userInputForm" 
          placeholder="Type your question or command here..." 
          class="form-control chat-input"
        />
        <button 
          mat-raised-button 
          color="primary" 
          (click)="sendMessage()" 
          class="generate-button">
          Send
        </button>
      </div>
    </div>
  </mat-card>
</div>
