<div class="container">
  <h1>Welcome, HR!</h1>
  <br>
  <div class="stats-container">
    <div class="stat-card">
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="info">
        <h4>Total Clients</h4>
        <p>{{ totalClients }}</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="icon">
        <i class="fas fa-file-alt"></i>
      </div>
      <div class="info">
        <h4>Total Resumes</h4>
        <p>{{ totalResumes }}</p>
      </div>
    </div>
    
    <div class="stat-card">
      <div class="icon">
        <i class="fas fa-file-signature"></i>
      </div>
      <div class="info">
        <h4>Total JDs</h4>
        <p>{{ totalJDs }}</p>
      </div>
    </div>
  </div>
</div>
