<div class="form-container">
  <div class="showBanner add-client-banner">
    <span>{{ readonly ? 'View Requirement Details' : (isEditing ? 'Edit Requirement Details' : 'Add Requirement Details') }}</span>
    <button class="close-button" (click)="closeDialog()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <br>

  <form [formGroup]="requirementForm" (ngSubmit)="onSubmit()">
    <div class="section">
      <h6>Requirements Details Section</h6>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Company Name</mat-label>
              <mat-select formControlName="cl_id" [disabled]="readonly" [ngClass]="{'masked': readonly}" required>
                <mat-option value="">Select Company</mat-option>
                <mat-option *ngFor="let client of clients" [value]="client.cl_id">{{ client.cl_name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="requirementForm.get('cl_id')?.invalid && requirementForm.get('cl_id')?.touched" class="text-danger">
              Company Name is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Requirement Name</mat-label>
              <input matInput type="text" formControlName="rq_name" placeholder="Enter requirement name" [disabled]="readonly" [ngClass]="{'masked': readonly}" required />
            </mat-form-field>
            <div *ngIf="requirementForm.get('rq_name')?.invalid && requirementForm.get('rq_name')?.touched" class="text-danger">
              Requirement Name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Job Location</mat-label>
              <input matInput type="text" formControlName="rq_loc" placeholder="Enter location" [disabled]="readonly" [ngClass]="{'masked': readonly}" required />
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_loc')?.invalid && requirementForm.get('rq_loc')?.touched">
              Job Location is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Job Location Map Link</mat-label>
              <input matInput type="text" formControlName="rq_map_url" placeholder="Enter map link" [disabled]="readonly" [ngClass]="{'masked': readonly}" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h6>Job Requirements Section</h6>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Number of Positions</mat-label>
              <input matInput type="number" formControlName="rq_no_pos" placeholder="Enter number of positions" [disabled]="readonly" [ngClass]="{'masked': readonly}" required/>
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_no_pos')?.invalid && requirementForm.get('rq_no_pos')?.touched">
              Number of Positions is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Qualification</mat-label>
              <input matInput type="text" formControlName="rq_qual" placeholder="Enter qualification" [disabled]="readonly" [ngClass]="{'masked': readonly}" required />
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_qual')?.invalid && requirementForm.get('rq_qual')?.touched">
              Qualification is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Skills</mat-label>
              <input matInput type="text" formControlName="rq_skills" placeholder="Enter skills" [disabled]="readonly" [ngClass]="{'masked': readonly}" required/>
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_skills')?.invalid && requirementForm.get('rq_skills')?.touched">
              Skills are required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Experience (in years)</mat-label>
              <input matInput type="number" formControlName="rq_exp" placeholder="Enter experience" [disabled]="readonly" [ngClass]="{'masked': readonly}" required/>
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_exp')?.invalid && requirementForm.get('rq_exp')?.touched">
              Experience is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Work Mode</mat-label>
              <mat-select formControlName="rq_work_mode" [disabled]="readonly" [ngClass]="{'masked': readonly}"required>
                <mat-option value="">Select work mode</mat-option>
                <mat-option value="remote">Remote</mat-option>
                <mat-option value="onsite">Onsite</mat-option>
                <mat-option value="hybrid">Hybrid</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_work_mode')?.invalid && requirementForm.get('rq_work_mode')?.touched">
              Work Mode is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Budget (LPA)</mat-label>
              <input matInput type="number" formControlName="rq_budget" step="0.1" placeholder="Enter budget" [disabled]="readonly" [ngClass]="{'masked': readonly}" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Notice Period</mat-label>
              <mat-select formControlName="rq_no_of_days" [disabled]="readonly" [ngClass]="{'masked': readonly}" required>
                <mat-option value="">Select notice period</mat-option>
                <mat-option value="immediate">Immediate</mat-option>
                <mat-option value="15_days">7 Days</mat-option>
                <mat-option value="30_days">15 Days</mat-option>
                <mat-option value="15_days">30 Days</mat-option>
                <mat-option value="30_days">45 Days</mat-option>
                <mat-option value="15_days">60 Days</mat-option>
                <mat-option value="30_days">90 Days</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="requirementForm.get('rq_no_of_days')?.invalid && requirementForm.get('rq_no_of_days')?.touched">
              Notice Period is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Requirement Notes</mat-label>
              <textarea matInput formControlName="rq_notes" placeholder="Enter notes" [disabled]="readonly" [ngClass]="{'masked': readonly}"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
     
      <div class="row mt-4" *ngIf="!readonly">
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="requirementForm.invalid && !isEditing">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
